.full-screen-container {
  min-height: 50vh;
  width: 100vw;
  background-image: url("../../../assets/hero/restauranfood.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--highlight-color2);
  border-radius: var(--form-input-border-radius);
  box-shadow: var(--form-shadow);
  padding: var(--form-container-padding);
  width: 90vw;
  max-width: 37.5rem;
  margin-block: 1rem;
}

.login-title {
  margin: 0;
  color: var(--light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input-group label {
  color: var(--light);
  font-weight: lighter;
}
.input-group input {
  font-size: 1.2rem;
  padding: var(--form-input-padding);
  border: none;
  outline: none;
  border-radius: var(--form-input-border-radius);
  background-color: var(--highlight-color1);
  color: var(--dark);
  font-weight: lighter;
}

.input-group input::placeholder {
  font-size: 0.8rem;
  color: var(--dark);
}
.input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--primary-color2);
}

.login-button {
  color: var(--dark);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: lighter;
  background-color: var(--primary-color2);
  border: 1px solid var(--dark);
  border-radius: var(--form-btn-input-border-radius);
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition-timing);
}
.login-button:hover {
  background-color: var(--form-btn-input-hover-color);
}

.create-account {
  color: var(--light);
  text-align: center;
  margin-top: 2rem;
}
.create-account-link {
  color: rgb(31, 31, 255);
  font-size: 1rem;
  text-decoration: underline solid;
}

.input-group p {
  font-size: 0.8rem;
  font-weight: 100;
}
