* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
}
form {
  display: grid;
  max-width: 200px;
  gap: 15px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
form label {
  color: white;
  font-family: karla;
}
form input {
  padding: 10px;
  border-radius: 8px;
  width: 50vw;
}
