.boooking-form-container {
  background-color: var(--highlight-color2);
  border-radius: var(--form-input-border-radius);
  box-shadow: var(--form-shadow);
  padding: var(--form-container-padding);
  width: 90vw;
  max-width: 37.5rem;
  margin-block: 2rem;
}
.boooking-form-container h3 {
  margin: 0;
  color: var(--light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.boooking-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.boooking-form-input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.boooking-form-input-group label {
  color: var(--light);
  font-weight: lighter;
}

.boooking-form-input-group input,
.boooking-form-input-group select {
  font-size: 1rem;
  padding: var(--form-input-padding);
  border: none;
  outline: none;
  border-radius: var(--form-input-border-radius);
  background-color: var(--highlight-color1);
  color: var(--dark);
  font-weight: lighter;
  width: 100%;
}

.boooking-form-input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--primary-color2);
}

.boooking-form-input-group .options-label {
  font-size: 1rem;
  font-weight: 400;
}

.boooking-form-input-group input[type="radio"] {
  width: 1.5rem;
}

.standard,
.outside {
  display: flex;
  justify-content: space-between;
}

.boooking-form .res-btn {
  color: var(--dark);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: lighter;
  background-color: var(--primary-color2);
  border: 1px solid var(--dark);
  border-radius: var(--form-btn-input-border-radius);
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition-timing);
}

.boooking-form .res-btn:hover {
  background-color: var(--form-btn-input-hover-color);
}
