* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
}

form {
  display: grid;
  max-width: 200px;
  gap: 15px;
  text-align: left;
  margin: auto;
  justify-content: center;
}

form label {
  color: white;
  font-family: karla;
}
form input,
select {
  padding: 0.5rem;
  border-radius: 8px;
  width: 55vw;
  justify-self: center; /* to center the form inputs*/
}
/*
.seating-option {
  padding: 30px 240px;
}
.seating-option h3 {
  display: flex;
  align-self: flex-start;
  padding-left: 100px;
  font-family: karla;
  color: white;
}

.standard-container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-block: 10px;
  font-family: karla;
  color: white;
}
.standard-container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  font-family: karla;
  color: white;
}
*/
.radio-option {
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between label and radio */
  margin-bottom: 8px;
}

div.letsgo-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#letsgo-btn {
  color: rgb(0, 0, 0);
  background-color: #f4ce14;
  padding: 8px;
  border-radius: 15px;
  width: 20vw;
  font-family: karla;
  font-weight: bold;
}
#letsgo-btn:hover {
  cursor: pointer;
  background-color: #ffd500;
  font-weight: 900;
  text-decoration: underline;
  font-size: 1rem;
}
