* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
img {
  display: block; /* removes the white space beneath images*/
}

h1,
h2 {
  font-family: "markazi text", Arial;
}
p,
button {
  font-family: karla, "Times New Roman";
}
button:hover {
  cursor: pointer;
}

.hero-container {
  /* mobile 1st or extra small  */
  background-color: #495e57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding-inline: 1.4rem;
  padding-top: 1rem;

  /*small*/
  @media (min-width: 576px) {
    gap: 6rem;
    padding-inline: 4rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    gap: 7rem;
    padding-inline: 5rem;
  }

  /*large*/
  @media (min-width: 992px) {
    gap: 8rem;
    padding-inline: 7rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    gap: 9rem;
    padding-inline: 9rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    gap: 15rem;
    padding-inline: 10rem;
  }
}

.hero-text-container {
  flex: 3;
}
.hero-text-container h1 {
  /* mobile 1st or extra small  */
  font-size: 1.7rem;
  color: #f4ce14;

  /*small*/
  @media (min-width: 576px) {
    font-size: 1.8rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1.9rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 2rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 2.2rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 2.5rem;
  }
}
.hero-text-container h2 {
  /* mobile 1st or extra small  */
  font-size: 1.3rem;
  color: #ffffff;

  /*small*/
  @media (min-width: 576px) {
    font-size: 1.3rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 1.5rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.7rem;
  }
}
.hero-text-container p {
  /* mobile 1st or extra small  */
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.3rem;
  padding-block: 1rem;

  /*small*/
  @media (min-width: 576px) {
    line-height: 1.4rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
.reserve-btn {
  /* mobile 1st or extra small  */
  background-color: rgb(244, 207, 21);
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  white-space: nowrap;

  /*small*/
  @media (min-width: 576px) {
    padding: 0.5em 1.1rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    padding: 0.6rem 1.2rem;
  }

  /*large*/
  @media (min-width: 992px) {
    padding: 0.7rem 1.3rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    padding: 0.8rem 1.4rem;
    font-size: 1.1rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
}

.hero-image-container {
  /* mobile 1st or extra small  */
  flex: 2;
  display: flex;
  position: relative;
}
.hero-image-container img {
  /* mobile 1st or extra small  */
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  transform: translateY(35px);

  /*small*/
  @media (min-width: 576px) {
    transform: translateY(40px);
  }

  /*extra large*/
  @media (min-width: 1200px) {
    transform: translateY(45px);
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    transform: translateY(50px);
  }
}
/******************************************/
/* Pre-configured media quert breakpoints */
/*small*/
@media (min-width: 576px) {
}

/*medium*/
@media (min-width: 768px) {
}

/*large*/
@media (min-width: 992px) {
}

/*extra large*/
@media (min-width: 1200px) {
}

/*extra extra large*/
@media (min-width: 1400px) {
}
