* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  /*display: grid;
  grid-template-columns: auto 1fr;*/
}
.website-logo img {
  width: 30vw;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}
header nav ul li {
  margin: 10px;
  padding: 10px;
}
header nav ul li a {
  color: red;
}

section.hero {
  background-color: #32582c;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-left: 50px;
  padding-right: 50px;
  height: 50vh;
}
.hero img {
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
  margin-top: 5px;
}

section.specials {
  background-color: white;
  padding-top: 100px;
}
.title-and-button {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.dish-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.dish-card {
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: 50vh;
  margin-bottom: 20px;
}
.dish-card img {
  width: 100%; /* Make image take full width */
  height: 25vh; /* Set a fixed height */
  object-fit: cover; /* Crop the image to fill the box */
  display: block;
}

section.testimonials {
  background-color: aqua;
}
.testimonials-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.ratings {
  display: flex;
  justify-content: space-around;
}
.rating-card {
  border: 1px solid black;
  width: 10vw;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 50px;
}
.rating-card img {
  width: 30%;
}

section.about {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.about-text {
}
.about-images {
  display: flex;
  flex-direction: row;
}
.about-images img {
  width: 10vw;
  margin: 5px;
}

section.footer {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}
section.footer img {
  width: 15vw;
}
footer nav ul {
  list-style-type: none;
}
footer ul {
  list-style-type: none;
}
button {
  background-color: yellow;
  border-radius: 5px;
}
