*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
img {
  display: block; /* removes the white space beneath images*/
}

h1,
h2 {
  font-family: "markazi text", Arial;
}
p {
  font-family: karla, sans-serif;
}

.about-container {
  background-color: rgb(182, 168, 168);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 2rem 1.4rem;

  /*small*/
  @media (min-width: 576px) {
    padding-top: 3.5rem;
    padding-inline: 4rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-inline: 5rem;
  }

  /*large*/
  @media (min-width: 992px) {
    padding-top: 5rem;
    padding-inline: 7rem;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    padding-top: 6rem;
    padding-inline: 9rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    padding-top: 7rem;
    padding-inline: 10rem;
  }
}

.about-text-container {
  width: 100%;

  /*starting at large and beyond*/
  @media (min-width: 992px) {
    width: 60%;
  }
}

.about-text-container h1 {
  /* mobile 1st or extra small  */
  font-size: 1.7rem;
  color: #f4ce14;

  /*small*/
  @media (min-width: 576px) {
    font-size: 1.8rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1.9rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 2rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 2.2rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 2.5rem;
  }
}
.about-text-container h2 {
  /* mobile 1st or extra small  */
  font-size: 1.3rem;
  color: #ffffff;

  /*small*/
  @media (min-width: 576px) {
    font-size: 1.3rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 1.5rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 1.6rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.7rem;
  }
}
.about-text-container p {
  /* mobile 1st or extra small  */
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.3rem;
  padding-block: 1rem;

  /*small*/
  @media (min-width: 576px) {
    line-height: 1.4rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /*large*/
  @media (min-width: 992px) {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
.about-images-container {
  position: relative;
  width: 300px;
  height: 450px;
  margin: auto;
}
.about-images-container img {
  position: absolute;
  height: 300px;
  border-radius: 10px;
  width: 220px;
}
.right-img {
  top: -5rem;
  right: -1.5rem;
  z-index: 2;
}

.left-img {
  top: 7rem;
  left: -1.5rem;
  z-index: 1;
}
