.header-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.1rem;
  padding-top: 0.5rem;
  padding-inline: 1.4rem;

  /*small*/
  @media (min-width: 576px) {
    gap: 0.2rem;
    padding-top: 0.6rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    gap: 0.3rem;
    padding-top: 0.6rem;
  }

  /*large*/
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding-inline: 3rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding-inline: 3rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding-inline: 4rem;
  }
}

.logo-container img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
