h3 {
  color: white;

  /* Phones*/
  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  /*Tablets*/
  @media (min-width: 600.1px) {
    font-size: 0.9rem;
  }

  /* Laptops and Desktops*/
  @media (min-width: 1000px) {
    font-size: 1rem;
  }
}

li {
  list-style-type: none;
}

a,
.doormat-nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 0.8rem;
  transition: color 150ms;
}
a:hover {
  cursor: pointer;
  color: #32adff;
}

.footer-container {
  background-color: rgb(199, 199, 199);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.4rem 2rem 1.4rem;

  /*small*/
  @media (min-width: 576px) {
    padding-inline: 4rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    padding-inline: 5rem;
  }

  /*large*/
  @media (min-width: 992px) {
    padding-inline: 7rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    padding-inline: 9rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    padding-inline: 10rem;
  }
}
.footer-logo-container {
  max-width: 15vw;
  align-self: center;

  /*large and beyond*/
  @media (min-width: 992px) {
    max-width: 8vw;
  }
}

.footer-logo-container img {
  width: 100%;
}
