*,
::before,
::after {
  padding: 0px;
  margin: 0px;
}
.master-container {
  background-color: #014701;
  margin: 0 1rem 0.5rem 1rem;
  padding-inline: 1.4rem;
  min-height: 90vh;
}

.little-lemon {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-family: karla;
}
.little-lemon h1 {
  color: #f4ce14;
  font-size: 2rem;
}
.little-lemon h2 {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.shipping-info-form {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  max-width: 50vw;
  margin: auto;
}

.shipping-info-form .form-title {
  align-self: self-start;
  font-size: 1rem;
  color: white;
  padding-block: 0.5rem;
}
.shipping-info-form input {
  padding: 0.5rem;
  border-radius: 5px;
  width: 80vw;
  border: none;
}
.shipping-info-form label {
  color: white;
  font-family: karla;
}

.shipping-info-form .book-btn {
  color: rgb(0, 0, 0);
  background-color: #f4ce14;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  width: 10rem;
  font-weight: bold;
  white-space: nowrap;
  justify-self: center;
  transition: opacity 200ms;
}
.shipping-info-form .book-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.shipping-info-form p {
  color: white;
  font-size: 0.8rem;
}

.card {
}
.card-details {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.card-details input {
  width: 30vw;
}
.name-field::placeholder::first-letter {
  color: red;
}
