.shipping-info-full-screen-container {
  background-color: var(--primary-color1);
  padding-inline: 1.4rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.little-lemon {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-family: karla;
  align-self: flex-start;
}
.little-lemon h1 {
  color: var(--primary-color2);
  font-size: 2rem;
}
.little-lemon h2 {
  color: var(--light);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.shipping-info-form-container {
  background-color: var(--highlight-color2);
  border-radius: var(--form-input-border-radius);
  box-shadow: var(--form-shadow);
  padding: var(--form-container-padding);
  width: 90vw;
  max-width: 37.5rem;
  margin-block: 1rem;
}

.shipping-info-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.form-title {
  margin: 0;
  color: var(--light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.shipping-info-form-input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.shipping-info-form-input-group label {
  color: var(--light);
  font-weight: lighter;
}

.shipping-info-form-input-group input,
.shipping-info-form-input-group select {
  font-size: 1rem;
  padding: var(--form-input-padding);
  border: none;
  outline: none;
  border-radius: var(--form-input-border-radius);
  background-color: var(--highlight-color1);
  color: var(--dark);
  font-weight: lighter;
}

.shipping-info-form-input-group input::placeholder,
.shipping-info-form-input-group select::placeholder {
  font-size: 1rem;
  color: var(--dark);
}

.shipping-info-form-input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--primary-color2);
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-details div {
  display: flex;
  flex-direction: column;
}
.card-details div input {
  width: 28vw;
  max-width: 200px;
}

.conf-email {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.shipping-info-form-input-group input[type="checkbox"] {
  width: 1.2rem;
}

.book-btn {
  color: var(--dark);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: lighter;
  background-color: var(--primary-color2);
  border: 1px solid var(--dark);
  border-radius: var(--form-btn-input-border-radius);
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition-timing);
}
.book-btn:hover {
  background-color: var(--form-btn-input-hover-color);
}
