*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar-container {
  /* mobile 1st or extra small  */
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-block: 1rem;
  gap: 0.5rem;
  width: 100%;

  /*small*/
  @media (min-width: 576px) {
    padding-block: 1.1rem;
    gap: 0.6rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    padding-block: 1.2rem;
    gap: 0.7rem;
  }

  /*large*/
  @media (min-width: 992px) {
    padding-block: 1.3rem;
    gap: 0.8rem;
    width: 85%;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    padding-block: 1.4rem;
    gap: 0.9rem;
    width: 90%;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    padding-block: 1.5rem;
    gap: 1rem;
    width: 95%;
  }
}
.navbar-link {
  /* mobile 1st or extra small */
  background-color: rgb(66, 82, 82);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;

  /*small*/
  @media (min-width: 576px) {
    padding: 0.6rem;
  }

  /*medium*/
  @media (min-width: 768px) {
    padding: 0.7rem;
  }

  /*large*/
  @media (min-width: 992px) {
    padding: 0.8rem;
  }

  /*extra large*/
  @media (min-width: 1200px) {
    padding: 0.9rem;
  }

  /*extra extra large*/
  @media (min-width: 1400px) {
    font-size: 1.1rem;
    padding: 1rem;
  }
}

.navbar-link:hover {
  background-color: rgb(104, 139, 139);
  color: #32adff;
}
.active {
  color: yellow;
  text-decoration: 0.15rem underline solid rgb(255, 255, 255);
}
